.meal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(180, 178, 178);
  padding: 20px 0;
}

.meal-details h3, .meal-details p {
  text-align: start;
  /* border: 1px solid black; */
  margin: 0;
}

.meal-description {
  color: rgb(63, 63, 63);
}

.meal-price {
  font-weight: bold;
  font-size: 17px;
  color: brown;
}