.meal-form {
  display: flex;
  flex-direction: column;
}

.meal-form label {
  font-weight: bold;
}

.meal-form input {
  width: 40px;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid rgb(180, 178, 178);
}

.add-order {
  background-color: brown;
  color: white;
  font-size: 19px;
  font-weight: bold;
  padding: 8px 30px;
  margin-top: 10px;
}