.header {
  padding: 15px 100px;
  margin: 0;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: calc(100% - 200px);
  z-index: 2;
}